
<!DOCTYPE html>
<html ng-app="boatApp">
<head>
<title>Boat simulator</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/bootstrap.min.css" media="screen" />
<link rel="stylesheet" href="css/foundation-icons.css" />
<link rel="stylesheet" href="css/jquery-ui-1.10.3.theme.css" />
<link rel="stylesheet" href="css/jquery-ui-1.10.3.custom.css" />
<link rel="stylesheet" href="css/jquery.ui.1.10.3.ie.css" />
<link rel="stylesheet" href="css/bootstrap-switch.min.css" />
</head>
<body class="text-center">
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/vendor/fastclick.js"></script>
	<script src="js/vendor/jquery-1.9.1.min.js"></script>
	<script src="js/vendor/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="js/vendor/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/vendor/bootstrap.js"></script>
	<script src="js/bootstrap-switch.min.js"></script>
	<script src="js/vendor/modernizr.js"></script>
	<script src="js/numeric-1.2.6.min.js"></script>
	<script src="js/vendor/modernizr.js"></script>
	<script src="js/angular/angular.js"></script>
	<script src="js/angular/angular-timer.js"></script>
	<script src="js/angular/angular-route.min.js"></script>
	<script src="js/angular/angular-sanitize.min.js"></script>
	<script src="js/angular/angular-resource.min.js"></script>
	<script src="js/angular/angular-cookies.min.js"></script>
	<script src="js/angular/slider.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/BoatController.js"></script>


	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<col-md- class="sr-only">Toggle navigation</col-md->
					<col-md- class="icon-bar"></col-md->
					<col-md- class="icon-bar"></col-md->
					<col-md- class="icon-bar"></col-md->
				</button>
				<a class="navbar-brand" href="#">Boat simulator</a>
			</div>
		</div>
	</nav>
	<!--End Navigation-->
	<div class="container">
		<div class="row">
			<!--Desktop Slider-->
			<svg id="mySvg" style="height: 300px; margin-top: -75px; z-index: -1"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink" class="col-md-12">
				<defs>
					 <pattern id="image" patternUnits="userSpaceOnUse" height="300px"
					width="2618px">
					  <image x="0" y="0" width="2618px" height="300px"
					xlink:href="img/sea_small.PNG"></image>
					 </pattern>
					</defs>
					<g id="background">
					 <rect id="rect1" x="0px" y="0px" width="2618px" height="300px"
					fill="url(#image)" />
					 <rect id="rect2" x="2618px" y="0px" width="5236px" height="300px"
					fill="url(#image)" />
					</g>
			</svg>
		</div>
		<!--End Desktop Slider-->
		<br>
		<div class="row" ng-controller="BoatController">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-2">Kierunek</div>
					<div class="col-md-9">
						<div id="sterSlider"></div>
						<div ui-slider="{range: 'min', min: -180, max: 180, value: 90}"
							ng-model="statek.kierunek"></div>
					</div>
					<input type="text" class="col-md-1" id="sterKat" disabled="true"
						ng-model="statek.kierunek" />
				</div>
				<div class="row">
					<div class="col-md-2">Maszt</div>
					<div class="col-md-9">
						<div id="masztSlider"></div>
						<div ui-slider="{range: 'min', min: -180, max: 180, value: 63}"
							ng-model="statek.zagiel"></div>
					</div>
					<input type="text" class="col-md-1" id="masztKat" disabled="true"
						ng-model="statek.zagiel" />
				</div>
				<div class="row">
					<div class="col-md-2">Siła wiatru</div>
					<div class="col-md-9">
						<div id="wiatrSlider"></div>
						<div ui-slider="{range: 'min', min: 0, max: 20, value: 5, step: 0.1}"
							ng-model="wiatr.predkosc"></div>
					</div>
					<input type="text" class="col-md-1" id="wiatrPredkosc" disabled="true"
						ng-model="wiatr.predkosc" />
				</div>
				<div class="row" ng-show="symulacjaWtoku">
					<div class="col-md-3">Aktulna predkosc</div>
					<div class="col-md-9"><input type="text" disabled="true" ng-model="statek.predkosc"/>m/s</div>
				</div>
				<div class="row">
					<div class="col-md-1" ng-click="toggleSymulacja()">
						<input name="startStop" type="checkbox" data-on-text="Start"
							data-off-text="Stop" checked />
						<script>
							$("[name='startStop']").bootstrapSwitch();
						</script>
					</div>
					<div class="col-md-11" ng-show="symulacjaWtoku">
						<label>Czas: <timer auto-start="false" interval="1000">{{hours}}
							hours, {{minutes}} minutes, {{seconds}} seconds.</timer></label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label>Czas ostatniej symulacji: {{lastSimTime}}</label>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-6">
					Siły
					<svg id="forces" style="height: 200px; border: 1px solid #000;"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
				</div>
				<div class="col-md-6">Jakiś inny obrazek</div>
			</div>
			<script type="text/javascript">
				var socket = io.connect(window.location.hostname);
				socket.on('shipImg', function(data) {
				 console.log("got ship data!");
				 var ship = new DOMParser().parseFromString(data.ship, 'application/xml');
				 var svg = document.getElementById("mySvg");
				 svg.appendChild(svg.ownerDocument.importNode(ship.documentElement, true));
				 var shipSVG = svg.getElementById("ship");
				 shipSVG.setAttribute('x', '300');
				 shipSVG.setAttribute('y', '-75');
				 ship = new DOMParser().parseFromString(data.forces, 'application/xml');
				 svg = document.getElementById("forces");
				 svg.appendChild(svg.ownerDocument.importNode(ship.documentElement, true));
				 $("#gSilk").css("-webkit-transform-origin", "100% 50% 0");
				 $("#_silk_").css("-webkit-transform-origin", "0% 0% 0");
				 $("#wind").css("-webkit-transform-origin", "0% 0% 0");
				 setTimeout( function() {
				  wFx2 = eval($("#wForce").attr('x2'));
				  wFy2 = eval($("#wForce").attr('y2'));
				  wXy2 = eval($("#xForce").attr('y2'));
				  wYx2 = eval($("#yForce").attr('x2'));
				 }, 500);
		});
	</script>
		</div>
		<div class="row">
			<div class="col-md-12">
				<canvas id="pos" width="800px" height="400px"
					style="border: 1px solid #000;"></canvas>
			</div>
		</div>
		<footer class="row">
			<div class="col-md-12">
				<hr>
				<div class="row">
					<div class="col-md-6">
						<p>&copy; Copyright no one at all. Go to town.</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

</body>
</html>